body {
  background-color: #ffffff;
}

img {
  max-width: 80%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

h2 {
  font-family: Roboto Slab;
  font-weight: 100;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 0em;
  line-height: 1.3em;
  text-transform: none;
}
h3 {
  font-family: trade-gothic-next-compressed;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.25em;
  line-height: 2em;
  text-transform: uppercase;
  color: #059e5c;
}

p {
  font-family: trade-gothic-next-condensed;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  letter-spacing: 0.03em;
  line-height: 1.6em;
  text-transform: none;
  color: #5c5c5c;
}
